<!DOCTYPE html>
<html>
    <head>
        <title>WELCOME HOME</title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body style="background-image: url('../static/images/img1.jpg');background-repeat: no-repeat;background-size: cover;background-attachment: fixed;">
        <ul>
            <li class="active"><a>HOME</a></li>
            <li><a href="login.html" target="_blank">LOGIN</a></li>
            <li><a href="register.html" target="_blank">REGISTER</a></li>
        </ul>
    </body>
</html>