<!DOCTYPE html>
<html>
    <head>
        <title>WELCOME TO LOGIN</title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body style="background-image: url('../static/images/img2.jpg'); background-repeat: no-repeat; background-size: cover; background-attachment: fixed;">
        <div class="login">
            <form action="Resume.html" method="POST">
                <label>ENTER YOUR USERNAME</label>
                <input type="text" placeholder="Please Enter" required><br><br>
                <label>ENTER YOUR PASSWORD</label>
                <input type="password" placeholder="Please Enter" required><br><br>
                <a href="register.html">Create a new account!!!</a>
                <input type="submit">
            </form>
        </div>
    </body>
</html>