<!DOCTYPE html>
<html>
    <head>
        <title>RESUME</title>
        <link rel="stylesheet" href="../static/css/style1.css">
    </head>
    <body>
       <center><img src="../static/images/img4.jpg"></center>  
       <ul>
           <li><a>SUBRAMANIAN A</a></li>
           <li><a>8300328127</a></li>
           <li><a>subramanianac17uec166@gmail.com</a></li>
       </ul>
       <div class="CO">
        <h1>CAREER OBJECTIVE</h1>
       </div>
       <p> I am seeking opportunities to join a company that can help me in enhancing my skills, strengthening my knowledge and realising my potential. I am willing to explore a wide variety of opportunities that can help me gain perspective.</p>
       <div class="CO">
        <h1>SUBJECT KNOWN LEVEL</h1>
       </div>
      <div class="SK">
          <h2>Programming Level</h2>
      </div>
      <h3>C    -  * * * *</h3>
      <h3>C++  -  * * *</h3>
      <div class="SK">
        <h2>Network Level</h2>
    </div>
    <h3>Computer Networks   -  * *</h3>
    <div class="CO">
        <h1>AREA OF INTEREST</h1>
       </div>
               <p>C program</p>
               <p>Python program</p>
               <p>Computer Networks</p>
       <div class="CO">
        <h1>CERTIFICATE OF MERITS</h1>
       </div>
       <p>Get participated the paper “e-license generation for driving test” in 6th international conference conducted by Malla Reddy Engineering College for Women on 23rd and 24th Jan, 2021.</p>
    <p>I have attended Implant training in BSNL (Govt. of India Enterprise) under “Fundamentals of Telecom” for 5 days (20 may 2019 to 25 may 2019) conducted by Telecom Experts, kanniyakumari.</p>
    <p>I have participated paper presentation about BIOCHIP, conducted by EEE department in PSV College of Engineering, Krishnagiri on 5 September 2019.</p>
    <div class="CO">
        <h1>PROJECT DETAILS</h1>
       </div>
       <div class="SK">
        <h2>e-License Generation for Driving Test</h2>
    </div>
    <p>The advance of this project we can decrease the inability drivers, thus while we can reduce the accidents. This will introduce only talent drivers. As a contribution to society, the rate of deaths in road accidents will be lowered by this project. This project is developed with customized track providing all driving challenges and also helps applicants to get an e-driving licence without any biasing interference of authorities.</p>
    <div class="CO">
        <h1>DECLARATION</h1>
       </div>
       <p>I hereby declare that the details above are true to the best of my Knowledge.</p>
   </body>
</html>